nav.navbar{
    display: inline;
}


nav.navbar button{
     padding: 5px 20px;
     background-color: gray;
     color: whitesmoke;
     cursor: pointer;
}

  nav.navbar ul {
    margin-top: 0;
    padding-left: 10px;
    list-style: inside; /* yuvarlak noktaları kaldırmamış olduk */
    border: 1px solid black;
    width: 100px;
    display: none;

}

nav.navbar ul li a{
    text-decoration: none;
    color: black;

}

nav.navbar:hover ul{
   display:block;    
} /* display: block; özelliği, ul elementinin (yani alt menünün) görünürlüğünü kontrol eder.  */